@import '../../styles/variables.scss';


header.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 3px $primary-color;
    padding: 30px;
    font-family: $title-font;

    svg{
        font-size: 30px;
        margin-right: 10px;

        @include breakpoint-small{
            font-size: 60px;
        }
        @include breakpoint-large{
            font-size: 50px;
        }

    }

    div{
        margin-right: 15px;
        font-size: 24px;

        @include breakpoint-small{
            font-size:30px;
        }

        @include breakpoint-large{
            font-size: 45px;
        }
    }
}